body.crew{
    background: url(assets/crew/background-crew-desktop.jpg);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.crew main{
    flex: 1;
}
.crew main .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4rem;
    gap: 2rem;
    flex-basis: 50%;
}
.body .desc .title{
    text-transform: uppercase;
    font-family: "bellfair,serif";
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: .8rem;
    color: #d0d6f962;
}
.body .desc .mainHeading{
    font-size: 2.6rem;
    font-weight: 100;
}
.body .desc .content{
    width: 72%;
}
.body .dots{
    display: flex;
    gap: .7rem;
}
.dots a,.dots a:hover{
    border: none;
 }
 .dots a.active .dot{
    background-color: white;
 }
.body .dots .dot{
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.347);
}
.body  .dots .dot:hover{
    background-color: #D0D6F9;
}
.crew main .crew-intro img{
    height: 100%;
    margin: 0;
}
@media screen and (max-width:768px){
    body.crew{
        background: url(assets/crew/background-crew-tablet.jpg);
    }
    .crew main .body {
        flex-basis: auto;
        align-items: center;
        padding-bottom: 2rem;
    }
    .crew main .body .subHeading{
        align-self: start;
    }
    .body .desc .title{
        font-size: 1.4rem;
     }
    .body .desc .content{
        width: 100%;
    }
    .body .dots .dot{
        width: 10px;height: 10px;
     }

}
@media screen and (max-width:375px){
    body.crew{
        background: url(assets/crew/background-crew-mobile.jpg);
    }
    .crew main{
        flex-flow: column-reverse;
        position: relative;
     }
     .crew main .crew-intro{
        margin: 2rem 0;
        border-bottom: 1px solid #D0D6F9;
     }
     .crew main .body{
        flex-flow: column-reverse;
     }
     .crew main .body .subHeading{
        align-self: center;
        position: absolute;
        top: 0;
     }
     .body .desc .mainHeading{
        font-size: 1.5rem;
    }
    .body .desc .content{
        font-size: 1.2rem;
    }
    .crew main .crew-intro img{
        width: 100%;
    }
}