@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #242742;
    color:#242742;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
}
.container .content{
    display: flex;
    background: url(images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.content .main{
    flex-basis: 55%;
    margin-right:15rem;
}
.content .main h3{
    font-size: 2rem;
    margin-bottom: 20px;
}
.content .main p{
    margin:.5rem 0;
}
.content .main .points{
    margin:2rem 0;
}
.points .checklist{
    line-height: 1.2rem;
}
.checklist img{
    margin-right: 10px;
}
.content .main .form{
    display: flex;
    flex-direction: column;
    font-size:.7rem;
}
.form label{
    font-weight: 700;
    display: flex;
    position: relative;
    flex: 1;
}
.form label .error{
    display: none;
    position: absolute;
    right: 0;
    color: #ff6257;
}
.form input{
    height: 40px;
    padding-left: 1.2rem;
    margin: 7px 0px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid rgb(128, 128, 128);
}
.form input:focus{
    color: black;
    outline: none;
    border-color: black;
}

.form #subscribe{
    background-color: #242537;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    width: 100%;
    height: 35px;
    border-style:none;
    cursor: pointer;
    text-decoration: none;
}
.form #subscribe:active,.form #subscribe:hover{
    background:linear-gradient(to right, #ff6257,#ff7700);
}
@media screen and (max-width:500px){
    body{
        display: block;
    }
    .container{
        width: 100%;min-height: 100vh;
        padding: 0;
        border-radius: 0px;
    }
    .container .content{
        display: flex;
        min-height: inherit;
        background: url(images/illustration-sign-up-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
    }
    .content .main{
        font-size: 1.2rem;
        flex-basis: 100%;
        margin-right:0;
        align-self: end;
        margin-bottom: 5rem;
        padding: 0 2rem;
    }

}