@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: 0;
}
body{
    min-height: 100vh;
    overflow: hidden;
    background-color: #242742;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    color:#242742;
}
.container{
    width: 400px;
    padding: 50px;
    line-height: 1.5rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.success-image{
    position: relative;
    right: 180px;
}
.container h2{
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    margin: 20px 0px;
}
.success-content p{
    margin-bottom: 20px
}
#dismiss{
    background-color: #242537;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    width: 100%;
    height: 35px;
    border-style:none;
    cursor: pointer;
}
#dismiss:active{
    background:linear-gradient(to right, #ff6257,#ff7700);
}
@media screen and (max-width:500px){
    .container{ 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .success-content{
        padding: 0px 50px;
    }

}